@model CarAuction.Models.Vehicle
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Lot";

    var time = @Model.DateTime.Subtract(DateTime.Now);
}

<link rel="stylesheet" href="~/carousel/bootstrap.min.css">
<script src="~/carousel/jquery.min.js"></script>
<script src="~/carousel/bootstrap.min.js"></script>

<style>
    .float-container {
    border: 3px solid #fff;
    padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }  
</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 style="font-weight: bold;">@Model.RegistrationYear @Model.Producer @Model.ModelSpecifer
            @if (@HttpContextAccessor.HttpContext.Session.GetString("id") != null)
            {
                if (@time.Seconds > 0)
                {
                    @if (@Model.Watch == true)
                    {
                            <a href='@Url.Action("RemoveWatch", "Vehicle",  new { lotNumber = Model.Id })' class="btn btn-primary"><span style="color: yellow;">★</span> Remove</a>
                    }
                    else
                    {
                            <a href='@Url.Action("Watch", "Vehicle",  new { lotNumber = Model.Id })' class="btn btn-primary">★ Watch</a>
                    }
                }
            }
            </h1>
        </div>
    </div>
</div>


<div class="float-container">
    <div class="float-child">
		<div class="container">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner" role="listbox">

					<div class="item active">
						<img src="~/Images/@Model.ProfileImg" alt="@Model.ProfileImg" width="460" height="345">
					</div>

					<div class="item">
						<img src="~/Images/@Model.ProfileImg" alt="@Model.ProfileImg" width="460" height="345">
					</div>

					<div class="item">
						<img src="~/Images/@Model.ProfileImg" alt="@Model.ProfileImg" width="460" height="345">
					</div>

					<div class="item">
						<img src="~/Images/@Model.ProfileImg" alt="@Model.ProfileImg" width="460" height="345">
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
            <br />
            <br />
            <br />
            <br />

        <table>
            <tr>
                <th>Bid inforamtion</th>
            </tr>

            <tr>
                <td>Bid Status:</td>
                <td>

                    @if (@time.Seconds <= 0)
                    {
                        if (@HttpContextAccessor.HttpContext.Session.GetString("id") == Model.WinnerId.ToString())
                        {
                            <b style="color:green">YOU WON</b>
                        }
                        else if (@HttpContextAccessor.HttpContext.Session.GetString("id") != Model.WinnerId.ToString())
                        {
                            <b style="color:red">YOU LOST</b>
                        }
                    }
                    else
                    {
                        if (@HttpContextAccessor.HttpContext.Session.GetString("id") == Model.WinnerId.ToString())
                        {
                            <b style="color:green">YOU BID WIN</b>
                        }
                        else if (@HttpContextAccessor.HttpContext.Session.GetString("id") != Model.WinnerId.ToString())
                        {
                            <b style="color:red">OUTBID</b>
                        }
                        else
                        {
                            <b>You Haven't Bid</b>
                        }
                    }
                </td>
            </tr>

            <tr>
                <td>Current Bid:</td>
                <td>@Model.CurrentBid € </td>
            </tr>

            @if (@HttpContextAccessor.HttpContext.Session.GetString("id") == null)
            {
                <tr>
                    <td>
                        <br/><br/>
                        <a href='@Url.Action("Login", "Account")' class="btn btn-primary">Login to Bid</a>
                    </td>
                </tr>
            }
            else
            {

                if (@time.Seconds <= 0)
                {
                    <tr>
                        <td>
                            <div class="text-center">
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("id") == Model.WinnerId.ToString())
                            {
                                <h2 style="color:green; font-weight: bold;">SOLD</h2>
                            }
                            else if (@HttpContextAccessor.HttpContext.Session.GetString("id") != Model.WinnerId.ToString())
                            {
                                <h2 style="color:red; font-weight: bold;">SOLD</h2>
                            }
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <form method="post" class="d-flex" action="@Url.Action("UpdateBid", "Vehicle",  new { lotNumber = Model.Id })">

                    <tr>
                        <td>Your New Max Bid:</td>
                        <td><input class="form-control me-sm-2" name="bidNow" type="text"></td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td><button class="btn btn-primary" type="submit">Bid Now</button></td>
                    </tr>
                    </form>
                }
            }
        </table>
        <br />
        <br />
        <br />
        <br />
    </div>

    <div class="float-child">
        <table>
            <tr>
                <th>Lot #@Model.Id</th>
            </tr>
            <tr>
                <td>Model Specifer:</td>
                <td>@Model.ModelSpecifer</td>
            </tr>

            <tr>
                <td>Registration Year:</td>
                <td>@Model.RegistrationYear</td>
            </tr>

            <tr>
                <td>Primary Damage:</td>
                <td>@Model.PrimaryDamage</td>
            </tr>

            <tr>
                <td>Secondary Damage:</td>
                <td>@Model.SecondaryDamage</td>
            </tr>

            <tr>
                <td>VIN:</td>
                <td>@Model.VIN</td>
            </tr>

            <tr>
                <td>Highlights:</td>
                <td>@Model.Highlights</td>
            </tr>

            <tr>
                <th>Features</th>
            </tr>
            <tr>
                <td>Color:</td>
                <td>@Model.Color</td>
            </tr>
            <tr>
                <td>Body Style:</td>
                <td>@Model.BodyType</td>
            </tr>
            <tr>
                <td>Engine Capacity:</td>
                <td>@Model.EngineCapacity</td>
            </tr>

            <tr>
                <td>Engine Output:</td>
                <td>@Model.EngineOutput</td>
            </tr>

            <tr>
                <td>Transmission:</td>
                <td>@Model.Transmission</td>
            </tr>

            <tr>
                <td>Drive:</td>
                <td>@Model.Drive</td>
            </tr>

            <tr>
                <td>Meter Readout:</td>
                <td>@Model.MeterReadout</td>
            </tr>

            <tr>
                <td>Fuel:</td>
                <td>@Model.Fuel</td>
            </tr>

            <tr>
                <td>Number of Keys:</td>
                <td>@Model.NumberKeys</td>
            </tr>

            <tr>
                <td>Service Manual:</td>
                <td>@Model.ServiceManual</td>
            </tr>

            <tr>
                <td>Second Tire set:</td>
                <td>@Model.SecondTireSet</td>
            </tr>
            
            <tr>
                <th>Sale Information</th>
            </tr>

            <tr>
                <td>Location:</td>
                <td>@Model.Location</td>
            </tr>

            <tr>
                <td>Sale Date:</td>
                <td>@Model.DateTime.ToString("dd.MM.yyyy hh:mm tt")</td>
            </tr>

            <tr>

                @if (@time.Seconds > 0)
                {
                    <td>Time Left:</td>
                    <td> <b style="color:red">@time.Days D @time.Hours H @time.Minutes min</b></td>
                }
            </tr>
        </table> 
    </div>
</div>

