@model IEnumerable<CarAuction.Models.View.VehicleView>

@{
    ViewData["Title"] = "Search";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Search Results For:</h2>
        </div>
    </div>
</div>
<br />
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Images
            </th>
            <th>
                Lot
            </th>
            <th>
                Year
            </th>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Sale Date
            </th>
            <th>
                Odometer
            </th>
            <th>
                Damage
            </th>
            <th>
                Current Bid
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="10%">
                    <img src="~/Images/@obj.Producer" width="50" height="50" asp-append-version="true"/>
                    @Html.ActionLink("Pic", "Lot", "Vehicle", new { lotNumber = @obj.LotNumber }, null)
                </td>
                <td width="30%">
                    @obj.LotNumber
                    @obj.Watch
                </td>
                <td width="30%">
                    @obj.RegistrationYear
                </td>
                <td width="10%">
                    @obj.Producer
                </td>
                <td width="210%">
                    @obj.ModelSpecifer
                </td>
                <td width="20%">
                    @obj.DateTime
                </td>
                <td width="15%">
                    @obj.MeterReadout
                </td>
                <td width="15%">
                    @obj.Damage
                </td>
                <td width="20%">
                    @obj.CurrentBid
                </td>
                <td width="15%">
                <button class="btn btn-secondary my-2 my-sm-0" text="Bid Now">@Html.ActionLink("Bid Now", "Lot", "Vehicle", new { lotNumber = @obj.LotNumber }, null)</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
