@model CarAuction.Models.Vehicle

@{
    ViewData["Title"] = "VehicleCreate";
}

<h1>Vehicle Created</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelSpecifer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelSpecifer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelGeneration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelGeneration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineOutput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineOutput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterReadout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterReadout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberKeys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberKeys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceManual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceManual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTireSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTireSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.BidStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid.BidStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.CurrentBid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid.CurrentBid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.SaleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid.SaleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid.Watch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid.Watch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell.SaleTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell.SaleTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell.PrimaryDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell.PrimaryDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell.SecondaryDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell.SecondaryDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell.TimeLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell.TimeLeft)
        </dd>
    </dl>
</div>
<br />
<br />
