@model CarAuction.Models.Vehicle

@{
    ViewData["Title"] = "Vehicle Created";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Vehicle Created</h1>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @if (@Model.ProfileImg=="")
    {
        <div>
            <img src="~/Images/@Model.ProfileImg" width="400" height="300" asp-append-version="true" />
        </div>
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelSpecifer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelSpecifer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelGeneration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelGeneration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineOutput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineOutput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterReadout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterReadout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberKeys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberKeys)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceManual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceManual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondTireSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondTireSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentBid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>
<br />
<br />
