@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@inject AuctionDbContext dbContext

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarAuction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/CarAuction.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/clock.js"></script>
    <link rel="shortcut icon" href="~/icon/c.ico">
</head>
<body onload="odliczanie();">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="font-weight: bold;">Copart</a>
                
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto"></ul>
                    <form class="d-flex" method="post" action="@Url.Action("Search", "Vehicle")">
                        <input class="form-control me-sm-2" type="text" name="searchname" placeholder="Search by Model, VIN or Lot Number">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                <ul class="navbar-nav">
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("name") != null)
                    {
                        <li class="nav-item">
                            @if (@dbContext.Users.FirstOrDefault(x => x.Id == int.Parse(@HttpContextAccessor.HttpContext.Session.GetString("id"))).ProfileImg != null)
                            {
                                <a href="@Url.Action("Profile", "Account")" title="Profile" class="links">
                                    <img style="border-radius: 50%;" src="~/Images/@dbContext.Users.FirstOrDefault(x => x.Id == int.Parse(@HttpContextAccessor.HttpContext.Session.GetString("id"))).ProfileImg" width="40" height="40" asp-append-version="true" />
                                </a>
                            }

                            <a class="navbar-text text-white" asp-controller="Account" asp-action="Profile" title="Login">@HttpContextAccessor.HttpContext.Session.GetString("name")</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white"><b>@dbContext.Vehicles.ToList().Count()</b> Vehicle on Sale </a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link text-white"><div style="width:60px;font-weight:bold" id="clock"></div></a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Find a Vehicle</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="Finder">Vehicle Finder</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="Create">Create Vehicle</a>

                                @if (@HttpContextAccessor.HttpContext.Session.GetString("name") != null)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="Watchlist">Watch List</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Auctions</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Auction" asp-action="Actual">Join Auction</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Auction" asp-action="Today">Today Auctions</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Calendar</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Calendar" asp-action="Calendar">Auctions Calender</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Calendar" asp-action="AddCalendar">Add Calendar Event</a>
                            </div>
                        </li>

                        @if (@HttpContextAccessor.HttpContext.Session.GetString("name") != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bid Status</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="BindList">Current Bids</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="LotsWon">Lots Won</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Vehicle" asp-action="LotsLost">Lots Lost</a>
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Location" asp-action="Locations">Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Service" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Support</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Service" asp-action="HowToBuy">How to Buy</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Service" asp-action="ContactUs">Contact us</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 CarAuction
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
