@model IEnumerable<CarAuction.Models.View.VehicleView>
@{
    ViewData["Title"] = "Actual";
    var obj = Model.FirstOrDefault();
}

<style>
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }
</style>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Actual</h1>
        </div>
    </div>
</div>
<hr />
<div class="float-container">
    <h1>@obj.RegistrationYear @obj.Producer @obj.ModelSpecifer</h1>
    <div class="float-child">
        <img src="~/Images/@obj.Image" width="400" height="300" asp-append-version="true" />

        <table>
 

            <tr>
                <td>Meter Readout:</td>
                <td>@obj.MeterReadout</td>
            </tr>

        
        </table>
        <br />
        <br />
        <br />
        <br />
            
        
    </div>

    <div class="float-child">
            <table class="table table-bordered table-striped">
                <tbody>
                    @foreach (var objList in Model)
                    {
                        <tr>
                            

                            <td width="50%">
                                <b>@objList.RegistrationYear  @objList.Producer  @objList.ModelSpecifer</b>
                                <br />
                                Odo: <b>@objList.MeterReadout</b>
                            </td>

                            <td width="20%">
                                Current Bid:<b>@objList.CurrentBid</b>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        </div>
</div>
<br />
<br />
