@model IEnumerable<CarAuction.Entites.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.modelSpecifer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelGeneration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registrationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.engineCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.meterReadout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberKeys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serviceManual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.modelSpecifer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelGeneration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registrationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bodyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.engineCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.meterReadout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberKeys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serviceManual)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
