@model List<Location>
@{
    ViewData["Title"] = "Locations";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Locations</h1>
        </div>
    </div>
</div>
<hr />
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                City
            </th>
            <th>
                Street
            </th>
            <th>
                Postcode
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="13%">
                    <a href="@Url.Action("Place", "Location", new { locationId = @obj.Id }, null)" title="@obj.City" class="links">
                        <img src='@Url.Content("~/Images/"+@obj.ProfileImg)' width="160" height="110" asp-append-version="true">
                    </a>
                </td>
                 <td width="25%">
                    @obj.City
                </td>
                <td width="25%">
                    @obj.Street
                </td>
                <td width="25%">
                    @obj.PostalCode
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />

