@model IEnumerable<CarAuction.Models.Event>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Management Calendar</h1>
        </div>
    </div>
</div>
<hr />
<p>
    <a href='@Url.Action("AddEvent", "Calendar")' class="btn btn-primary">Add Event</a>
</p>
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                Color
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="28%">
                    @obj.Title
                </td>
                <td width="28%">
                    @obj.Start
                </td>
                <td width="28%">
                    @obj.Color
                </td>
                <td>
                    <div class="btn-group">
                        <div class="form-group" style="padding: 10px;">
                            <a href='@Url.Action("EditEvent", "Calendar", new { id = @obj.Id})' class="btn btn-primary">Edit</a>
                        </div>
                        <div style="padding: 10px;">
                            <a href='@Url.Action("DeleteEvent", "Calendar", new { id = @obj.Id})' class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
